.input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.input--invalid {
    border: 1px solid #b30000;
}

.input--invalid:focus-visible {
    outline: #b30000 auto 1px;
}