.typeItem {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.typeItemTitle {
    cursor: pointer;
    display: flex;
}

.typeItemIcon {
    font-size: 18px;
    align-items: center;
    display: flex;
    margin: 0 5px 0 10px;
}

.typeItemText {
    font-size: 14px;
    font-weight: 500;
}

.typeItemInput {
    display: none;
}

@media (max-width: 600px) {
    .typeItem {
        padding: 10px 0;
        margin-right: 12px;

    }
}