.typeItem {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.typeItemIcon {
    font-size: 18px;
    align-items: center;
    margin-right: 10px;
    display: flex;
}

.typeItemText {
    font-size: 14px;
    font-weight: 500;
}

.typeItemInputFile {
    display: none;
}