.typeItem {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.typeItemIcon {
    font-size: 18px;
    align-items: center;
    margin-right: 10px;
    display: flex;
}

.typeItemText {
    font-size: 14px;
    font-weight: 500;
}

.typeItemInputFile {
    display: none;
}

<<<<<<< HEAD
@media (max-width: 535px) {
    .typeItem {
        padding: 10px 0;
        margin-right: 12px;

=======
@media (max-width: 500px) {
    .typeItem {
        padding: 10px 0;
>>>>>>> 6ffc4358c249615cfc356efaf8428d58740ed6be
    }
}