.account {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

@media (max-width: 1100px) {
    .account {
        justify-content: space-evenly;
        flex: 5 1;
    }
}