.friend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.friendImg {
    width: 31px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}