.homeContainer {
  display: grid;
  grid: auto/minmax(min-content, 400px) 61% minmax(min-content, 400px);
  width: 100%;
}

@media (max-width: 900px) {
  .homeContainer {
    grid: auto/100%;
  }
}
