.messagesBarContainer {
  padding: 30px 15px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 150px;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayAd {
  cursor: pointer;
  width: 100%;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.messagesBarAd {
  display: flex;
  border-radius: 10px;
  width: 100%;
  margin: 20px auto;
}

.messagesBarTitle {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .messagesBarContainer {
    padding: 20px;
    max-width: 300px;
  }
}
