.navItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navItemIcon {
    margin: 15px;
}

@media (max-width: 535px) {
    .navItem {
        font-size: 15px;
    }

    .navItemIcon {
        margin: 17px 16px 17px 12px;
    }
}