.followingItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.followingImg {
    max-width: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}