.followingItem {
  display: flex;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
  font-size: 17px;
  width: 100%;
}

.followingImg {
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 660px) {
  .followingImg {
    max-width: 55px;
    height: 90px;
  }
}
