.errorFallback {
    padding: 20px;
    text-align: center;
}

.error {
    font-size: 23px;
    font-weight: 500;
    margin: 20px 30px 40px 0;
}

.errorImage {
    max-width: 600px;
    width: 100%;
}

.errorMessage {
    font-size: 18px;
    color: dimgray;
    margin: 30px 30px 30px 0;
}

.tryAgainBtn {
    background: green;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    margin: 30px 0;
}