.signup {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
}

@media (max-width: 1100px) {
  .signupWrapper {
    flex-direction: column;
    max-width: 500px;
  }
}

@media (max-width: 550px) {
  .signupWrapper {
    width: 100%;
    padding: 20px;
  }
}
